<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="KnowledgeDao">
	<resultMap type="KnowledgeDO" id="KnowledgeMinMap">
		<result column="id" property="id"/>
		<result column="summary" property="summary"/>
        <result column="img_url" property="imgUrl" />
        <result column="gmt_create" property="gmtCreate" />
	</resultMap>
	
	<sql id="allFields_min">
		id,
		summary,
		img_url,
		gmt_create
	</sql>

	<insert id="saveKnowledge" parameterType="KnowledgeDO" useGeneratedKeys="true" keyProperty="id">
	    insert into knowledge_info (id, summary, category, status, img_url, gmt_create, gmt_modified)
	    values (#{id}, #{summary}, #{category}, #{status}, #{imgUrl}, now(), now())
	</insert>

    <select id="queryByMinId" parameterType="Query" resultMap="KnowledgeMinMap">
        select
        <include refid="allFields_min" />
        from knowledge_info
        where status = 1
        <if test="condition.minKnowledgeId != null">
            and id &gt; #{condition.minKnowledgeId}
        </if>
        <if test="condition.maxKnowledgeId != null">
            and id &lt; #{condition.maxKnowledgeId}
        </if>
        <if test="condition.categorys != null">
            and category in
            <foreach item="item" index="index" collection="condition.categorys"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        limit #{pageSize}
    </select>

    <select id="countAllKnowledge" resultType="long">
        select count(*)
        from knowledge_info
        where status = 1
    </select>

    <select id="getKnowledgeById" resultMap="KnowledgeMinMap">
        select
        <include refid="allFields_min" />
        from knowledge_info
        where id = #{id} and status = 1
    </select>
</mapper>