<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReportDao">
	<resultMap type="ReportDO" id="reportMap">
		<result column="id" property="id"/>
        <result column="advertise" property="positionId" />
        <result column="product" property="productId"/>
		<result column="trade" property="tradeId"/>
        <result column="impression" property="impression" />
        <result column="click" property="click" />
		<result column="buyer" property="buyerId"/>
		<result column="seller" property="sellerId"/>
		<result column="ip" property="ip"/>
		<result column="date" property="gmtCreate"/>
	</resultMap>
	
	<sql id="allFields">
		id,
		advertise,
		product,
		trade,
		impression,
		click,
		buyer,
		seller,
		ip,
		date
	</sql>
	
	<select id="getReportDOByIpAndPosition" resultMap="reportMap" parameterType="ReportQuery">
		select 
		<include refid="allFields"/>
		from report
		where advertise = #{positionId} and ip = #{ip}
        limit 1
	</select>

	<insert id="insert" parameterType="ReportDO" useGeneratedKeys="true" keyProperty="id">
	    insert into report (advertise, product, trade, impression, click, buyer, seller, ip, date)
	    values (#{positionId}, #{productId}, #{tradeId}, #{impression}, #{click}, #{buyerId}, #{sellerId}, #{ip}, now())
	</insert>
	
	<update id="updateReportImpAndClick" parameterType="ReportDO">
		update report
		<set>
            date = now(),
            <if test="impression != null">
                impression = impression + #{impression},
            </if>
            <if test="click != null">
                click = click + #{click}
            </if>
		</set>
		where id = #{id}
	</update>

    <select id="getReportDOsByMinId" parameterType="map" resultMap="reportMap">
        select
        <include refid="allFields"/>
        from report
        where id > #{minId}
        limit #{pageSize}
    </select>
</mapper>