#if($!success == "false")
    #noescape(){"success":"$!success"}#end
#else
    #noescape(){"success":"$!success","clickUrl":"$!advertiseInfoVO.clickUrl",
    "type":"$!advertiseInfoVO.type","content":"$!advertiseInfoVO.content","height":"$!advertiseInfoVO.height",
    "width":"$!advertiseInfoVO.width","style":"$!advertiseInfoVO.style"}
    #end
#end
